<main>
<h1>Productos</h1>
  <section
    id="products"
    class="d-flex flex-wrap"
    style="width: 80%;"
  ></section>
</main>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="/scripts/products.js"></script>